{% extends "base.html" %}

{% block content %}
   <h1>MODIFICAR CLIENTE</h1> 
   
   <div class="nav-links">
        <a href="{{ url_for('lista_clientes_qhc') }}">Volver a Clientes</a>
        <a href="{{ url_for('inicio_qhc') }}">Inicio</a>
    </div>

    <form action="{{ url_for('modificar_cliente_qhc', id_cliente_qhc=cliente_qhc.id_cliente) }}" method="post">
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" value="{{ cliente_qhc.nombre }}" required>
        
        <label for="correo">Correo:</label>
        <input type="email" name="correo" id="correo" value="{{ cliente_qhc.email }}" required>
        
        <div style="text-align: center;">
            <button type="submit" class="btn-warning">Guardar Cambios</button>
            <button type="reset" class="btn-secondary">Cancelar</button>
        </div>
    </form>

{% endblock %}